/*****************************************
* General CSS for the app
*****************************************/
body {
    margin: 0;
    width: 100%;
}

*   {
    box-sizing: border-box; /*box sizing */
}

*::before, *::after{
    box-sizing: border-box;
}


/*Navigation*/
#todoNav{
    list-style: none;
    padding: .5em;
    margin: 0 .5em 0 .5em;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#todoNav {
    background-color: rgb(177, 177, 177);
}


/*Delete menu */
#delOptions {
    list-style: none;
    padding: 0 1.5em 0 .5em;
    margin: 0 .5em 0 .5em;
    text-align: right;
}

#delOptions li{
    display: none;
}

.show li {
    display: block!Important;               /*I should try to figure out a way to do this without Important*/
}


/*****************************************
* CSS for the todo list
*****************************************/
#full_todo_list {
    list-style: none;
    padding: .5em;
    margin: 0 .5em 2.5em .5em;
    border: 2px solid black;
}

#full_todo_list li p {
    margin: 0 0 0 5px;
}

#full_todo_list li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    /*margin: .5em 0 .5em 0;*/
    font-size: 20px;
    height: 40px;
}

.strikethrough {
    text-decoration: line-through;
}

/*****************************************
* CSS for the new todo item textbox
*****************************************/

#submitToDo {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    display: flex;
}

#submitToDo input, #submitToDo button{
    height: 40px;
    font-size: 20px;
    
}

#submitToDo input {
    flex-grow: 1;
}

#submitToDo button {
    width: 40px;
}