/*************************************************************
* Entire page CSS
*************************************************************/
body {
    margin: 0;
    width: 100%;
}

*   {
    box-sizing: border-box; /*box sizing */
}

*::before, *::after{
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/*************************************************************
* CSS for the main content
*************************************************************/
main{
    margin: 1em;
}


/*************************************************************
* CSS for the Nav bar and header
*************************************************************/
header {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}

nav ul li{
    width: 25%;
    padding: 0 .3em 0 .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;

    border: 2px solid black;
}

.active{
    background-color: red;
}

/*************************************************************
* CSS for the vacation plans list
*************************************************************/
/*Standard Look*/
#usrVacation {
    list-style: none;
    padding: 0;
}

#usrVacation li {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    font-size: 1.25em;
    width: 100%
}
.destination_tools {
    width: 80px;
}
#usrVacation li div img{
    height: 40px;
    width: 40px;
}

.dropLoc {
    height: .5em;
}

/*Drag action hover CSS*/

/*************************************************************
* Map CSS
*************************************************************/
#map {
    height: 500px;  
    width: 100%;  
}

/*************************************************************
* Map Page
*************************************************************/
#mapNavBar {
    list-style: none;
    padding: 0;
}

#mapNavBar li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    margin: .25em;
    height: 40px;
}

/*************************************************************
* Search Page
*************************************************************/
#searchFrm{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

#searchFrm input{
    height: 100%;
    font-size: .9em;
}

/*************************************************************
* Home Page
*************************************************************/